@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-100 text-slate-900;
}

@media (max-height: 700px) {
  .sidebar {
    transform: scale(0.92);
    transform-origin: top center;
  }
}
